/* Work Sans Google Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
*{
    margin: 0;
    padding: 0;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

/* button */
.btn-primary{
    color: #FFF;
    border: none;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    cursor: pointer;
    

}
.btn-primary:hover{
    background-color: darkgoldenrod;
}

/* Header Styles */

header{
    background: rgba(255, 144, 14, 0.10);
}

/* Navbar Styles */

nav , .banner-container{
    max-width: 1440px;
    margin: 0 auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    
}
.nav-title{
    color: #131313;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-top: 50px;

}

nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}
nav ul >li {
    list-style: none;
}

nav li >a {
    text-decoration: none;
    color: #424242;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px; 
}


/* Banner Styles */
.banner-contents{
    text-align: center;
    margin: 140px auto 0 auto;


}
.banner-title{
    color:  #131313;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
}
.banner-description{
    color:#727272;
    width: 800px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin: 20px auto 30px auto;
  
    
  
}
.banner-img{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
   
}

/* Architects Section Styles */

.architects-section{
    display: flex;
    align-items: center;
    margin: 130px auto;
    justify-content: space-around;

   
}

.architects-container{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 24px;
        
}

.architect-title{
    max-width:468px;
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
.quick-list{
    color:  #727272;
}
.quick-feature{
    color: #FF900E;
}

.architect-des{
    color:  #727272;
    max-width: 480px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin-top: 24px;
    margin-bottom: 30px;
}

/* Feature Section Styles */
.features-container{
    display: flex;
    align-items: center;
    gap: 140px;
   
}

.feature-border{
    display: flex;
    
}
.left-border{
    background: #FF900E;
    width: 5px;
    height: 106px;
   
}

.feature-title{
    color:  #131313;
    max-width: 468px;;
    font-size: 45px;
    font-weight: 700;
    margin-left: 20px;
}
.feature-des{
    color:  #727272;
    max-width: 580px;;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin-top: 24px;
    margin-bottom: 30px;
}

.card{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
}
.card-title{
    color: #131313;
    font-size: 20px;
    font-weight: 600;
}

.card-des{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    max-width: 600px;
    margin-top: 10px;
    

}
.feature-architect-img{
    width: 100%;
}
.experience-badge{
    border-radius: 8px;
    background: #FF900E;
    padding: 45px 42px;
    border: none;
    margin-left: -100px;
    margin-top: -100px;
}
.experience-year{
    color: #FFF;
    text-align: center;
    font-size: 65px;
    font-weight: 700;
    line-height: 70px; 
}
.experience-text{
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
}
/* Responsive Styles for small device */

@media screen and (max-width:576px) {
    nav , 
    .banner-container ,
    .features-container {
        flex-direction: column;
    }

    .nav-title ,
    nav ul{
        margin-top: 20px;
    }

    .banner-contents{
        margin: 30px auto;
    }

    .banner-title , 
    .nav-title ,
    .architect-title  {
        font-size: 30px;
    }


    nav li >a{
        font-size: 16px;
    }

    .banner-description{
        line-height: normal;
        width: 100%;
    }

    .banner-img{
        padding: 0;
    }

    
    .architects-section{
        flex-direction: column-reverse;
        margin: 50px 30px;
    }

    .architects-container{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 30px;
        gap: 10px;
    }
    
    .features-container{
        gap: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .feature-title{
        font-size: 2rem;
        margin-left: 10px;
    }
    .experience-badge{
        display: none;
    }
    .feature-img{
       

    }
}